<h2>Publication highlights</h2>
<a href="/category/publications.html">Full list of publications.</a>
<hr/>
<article class="post-body">
<img src="https://alexandrebinninger.com/TetWeave/media/teaser.jpg" class="post-featured">
<h3 class="post-title"><a href="https://alexandrebinninger.com/TetWeave/">TetWeave: Isosurface Extraction using On-The-Fly Delaunay Tetrahedral Grids for Gradient-Based Mesh Optimization</a></h3>
Accepted at SIGGRAPH 2025 (journal paper).<br />
</article>
<article class="post-body">
<img src="/assets/img/publications/svbrdf_uncertainty.jpg" class="post-featured">
<h3 class="post-title"><a href="https://svbrdf-uncertainty.github.io">Uncertainty for SVBRDF Acquisition using Frequency Analysis</a></h3>
Accepted at SIGGRAPH 2025.<br />
</article>
<article class="post-body">
<img src="/assets/img/publications/phd_thesis.png" class="post-featured">
<h3 class="post-title"><a href="/publications/2024/10/12/PhD-thesis.html">Intrinsic Approaches to Learning and Computing on Curved Surfaces</a></h3>
PhD Thesis 2024. <a href="https://collegerama.tudelft.nl/mediasite/Showcase/phd-defence/Presentation/3b3ebd766f3040ee9b2db099847d446a1d" target="_blank">Defense</a><br />
</article>
<article class="post-body">
<img src="/assets/img/publications/gravomg/gravomg.png" class="post-featured">
<h3 class="post-title"><a href="/gravomg">A Fast Geometric Multigrid Method for Curved Surfaces</a></h3>
Published at SIGGRAPH 2023.<br />
</article>
<article class="post-body">
<img src="/assets/img/publications/deltaconv/deltaconv.png" class="post-featured">
<h3 class="post-title"><a href="/deltaconv">DeltaConv: Anisotropic Operators for Geometric Deep Learning on Point Clouds</a></h3>
Published at SIGGRAPH 2022 (journal paper).
</article>
<article class="post-body">
<img src="/assets/img/publications/hsn_abstract.jpg" class="post-featured">
<h3 class="post-title"><a href="/hsn">CNNs on Surfaces using Rotation-Equivariant Features</a></h3>
Published at SIGGRAPH 2020 (journal paper).
</article>
